/__pycache__/
*.py[cod]
.venv/
.ipynb_checkpoints/

# Input and generated datasets
data/sample_submission.csv
data/train_features.csv
data/test_features.csv

# Generated training artifacts
catboost_info/
model_ML/saved_models/

# Raw data
energy-anomaly-detection/

# Generated DL artifacts
model_DL/artifacts/checkpoints/*
model_DL/artifacts/logs/*
model_DL/artifacts/predictions/*
!model_DL/artifacts/checkpoints/.gitkeep
!model_DL/artifacts/logs/.gitkeep
!model_DL/artifacts/predictions/.gitkeep
